body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 20px;
      background-color: #f0f0f0;
      border: thin, solid white;
    }
   


img {
  max-width:100%;
  width: 200px;
  height:auto;
  margin-left: 20px;
  border: solid white;
  box-shadow:0 18px 36px rgba(0,0,0,0.30),0 14px 11px rgba(0,0,0,0.22);

}


    h1, h2 {
      color: #333;
      margin-bottom: 10px;
    }
   
    h1,h2 {
    font-size: 28px;
    text-align: center;
    border-color:gold ;
    border-width:thin ;
   border-style: solid;

    }
   
    h2 {
      font-size: 24px;
    }
   
    @media (max-width: 768px) {
      h1 {
        font-size: 24px;
      }
     
      h2 {
        font-size: 20px;
      }
    }




header {
  background-color: #333;
  color: white;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 0px;
}



/* Style the logo container */
.logo {
    max-width: 100%;
    text-align: center;
    padding: 10px;
    border: 2px solid;
}

.logo img {
  max-width: 100px;
  height: auto;
  box-shadow:0 18px 36px rgba(0,0,0,0.30),0 14px 11px rgba(0,0,0,0.22);

}



.heading {
  font-size: 24px;
  margin: 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

/* Change link color on hover */
.menu  a:hover {
    color: #ff6600;
}



@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    margin-top: 10px;
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    margin: 10px 0;
  }
}


@keyframes marquee {
  0% {
    margin-left: 100%;
    transform: translateX(0%);
  }
  100% {
    margin-left: 0;
    transform: translateX(-100%);
  }
}

.section {
  overflow: hidden;


  .marquee {
    animation: marquee 13s linear infinite;
    display: inline-block;
    white-space: nowrap;

    &:hover {
      animation-play-state: paused;
    }
  }
}

.text-styling {
  padding: 0px;
  border: 4px solid red;
  border-radius:4px;
}



.contact-form {
    background-color: #ffffff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #3e2093;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}



.subscribe-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .subscribe-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .subscribe-form {
    display: auto;
    justify-content: center;
    align-items: center;
  }

  .subscribe-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 250px;
  }

  .subscribe-button {
  background-color:#3e2093;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }





/* Basic styling for the footer */
.footer {
    background-color: #333;
    color: #fff;
    padding:10px;
    text-align: center;
}



/* Styling for the social media icons */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background:#3B5998; 
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}






